<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="google_api" value="AIzaSyD6Fi3_OAslSsgOQzdJxmQS0TrP2hpdtBw" />
    <add key="yelp_api_key" value="V4BwtQMLZFc4abRkJOR6ewOwnqhBxh46NqrUNyqXblAt7Dv3rhOX8cp0WKe5yezat1kXm2g_DoCZUsLEYzvtDu6Aj6YJ6OdFuLihaccC2teJ7ANZXJ3_lRUtahoyXXYx" />
    <add key="hunter_api_key" value="dd86ab8769c16c7850eb311fb3c2b54427007746" />
  </appSettings>
</configuration>